# Dependencies
node_modules/

# Production
/build
.docusaurus
.cache-loader

# Misc
.DS_Store
.env
.env.local

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
*.swp
*.swo
